# We use dotenv to load Prisma from Next.js' .env file
# @see https://www.prisma.io/docs/reference/database-reference/connection-urls
DATABASE_URL=
DATABASE_DIRECT_URL=
SHADOW_DATABASE_URL=

# @see https://next-auth.js.org/configuration/options#nextauth_url
NEXTAUTH_URL=http://localhost:3000

# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=

# Preconfigured Discord OAuth provider, works out-of-the-box
# @see https://next-auth.js.org/providers/discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Client environment variables
NEXT_PUBLIC_URL=http://localhost:3000