@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./utils.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

@layer components {
  .links {
    @apply after:bg-primary-200 hover:text-primary-200 relative transition-all duration-300 ease-in-out after:absolute after:-bottom-[2px] after:left-0 after:transition-all after:duration-300 after:ease-in-out after:content-[""];
  }

  .simple-links {
    @apply hover:text-primary-200 transition-all duration-300 ease-in-out;
  }

  .btn-primary {
    @apply bg-primary-200 hover:bg-primary-300 h-[45px] rounded-lg px-[20px] py-[5px] text-sm text-white transition-all duration-200 ease-in-out sm:text-base;
  }

  .btn-secondary {
    @apply border-primary-200 text-primary-200 h-[45px] rounded-lg border bg-white px-[20px] transition-all duration-200 ease-in-out hover:bg-sky-100;
  }

  .btn-primary-lg {
    @apply bg-primary-200 hover:bg-primary-300 h-[45px] rounded-lg px-[20px] text-white transition-all duration-200 ease-in-out sm:h-[55px] sm:px-[30px];
  }

  .btn-secondary-lg {
    @apply border-primary-200 text-primary-200 flex h-[45px] items-center justify-center rounded-lg border bg-white px-[20px] transition-all duration-200 ease-in-out hover:bg-sky-100 sm:h-[55px] sm:px-[30px];
  }

  .btn-white-lg {
    @apply text-primary-500 h-[45px] rounded-lg  bg-white  px-[30px] transition-all duration-200  ease-in-out hover:bg-neutral-300 sm:h-[55px];
  }

  .btn-primary-disabled {
    @apply cursor-not-allowed bg-neutral-600 hover:bg-neutral-600;
  }

  .input-error {
    @apply border-2 border-red-400;
  }

  .max-width {
    @apply mx-auto max-w-[1500px];
  }

  .padding-sides {
    @apply px-[20px] md:px-[50px];
  }

  .sc-heading {
    @apply text-primary-500 text-center text-2xl font-bold sm:text-3xl;
  }
}
