name: CI

on:
  pull_request:
    branches: ["*"]
  push:
    branches: ["main"]
  merge_group:

jobs:
  build-lint:
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      DATABASE_DIRECT_URL: ${{ secrets.DATABASE_DIRECT_URL }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.16.1]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Setup yarn
        run: npm install -g yarn

      - name: Get Yarn cache directory
        id: yarn-cache
        run: |
          echo "yarn_cache_dir=$(yarn cache dir)" >> $GITHUB_ENV

      - name: Setup yarn cache
        uses: c-hive/gha-yarn-cache@v2
        with:
          node-version: 18.16.1

      - name: Install deps (with cache)
        run: yarn install

      - name: Generate Prisma Client
        run: yarn db:generate

      - name: Build, lint and type-check
        run: yarn build lint type-check

      - name: Check workspaces
        run: yarn manypkg check
